#navi {
  display: flex;
  width: 100%;
  font-size: 3vmin;
  margin-top: auto;
  padding: 20px 0;
  justify-content: space-around;
  .button {
    cursor: pointer;
    text-decoration: underline;
  }
}