.slide {
  display: flex;
  height: 100%;
  background-color: #2c3e50;
  color: white;
  flex-direction: column;
  .container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    h1{
      flex: 1 100%;
      align-self: center;
    }
    img{

    }
    ul{

    }
    p{
      margin: 0 50px
    }
  }
  .pager {
    width: 100%;
    align-self: center;
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    .button {
      cursor: pointer;
      text-decoration: underline;
    }
  }
  &.hidden {
    display: none;
  }
  &.shown {
    display: flex;
  }

}
