@import "./variables";

%fullheight {
  height: 100%;
  min-height: 100%;
}

html, body, #app, #presi {
  @extend %fullheight;
}

body, html {
  overflow: hidden;
}

body {
  margin: 0;
  font-size: 24px;
  transition: font-size 0.4s linear;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}