@import "./variables";

%fullheight {
  height: 100%;
  min-height: 100%;
}

html, body, #app, #slides {
  @extend %fullheight;
}

body, html {
  //overflow: hidden;
}

body {
  margin: 0;
  font-size: 1.4vw;
  transition: font-size 0.2s ease;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}